<?xml version="1.0" encoding="UTF-8"?>

<launch>
	<!-- Run the map server --> 
	<node name="map_server" pkg="map_server" type="map_server" args="$(find my_sim)/map/mapFull.yaml"/>

	<!--- Run AMCL --> 
	<include file="$(find amcl)/examples/amcl_diff.launch" />

	<!--- Move Base -->
	<node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">

	<!--- Global costmap -->
	<rosparam file="$(find my_sim)/config/costmap_common_params.yaml" command="load" ns="global_costmap" /> 
	<rosparam file="$(find my_sim)/config/global_costmap_params.yaml" command="load" />

	<!--- Local costmap -->
	<rosparam file="$(find my_sim)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
	<rosparam file="$(find my_sim)/config/local_costmap_params.yaml" command="load" />
</node>

	<!--- Run RVIZ --> 
	<node pkg="rviz" type="rviz" name="rviz"  args="-d $(find my_sim)/scripts/default.rviz" />

</launch>
